body{
    background: url("../images/foxtail.svg");
}

a{
    color: lightsalmon;
    font-size: 40px;
    text-decoration: none;
}

h1{
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 30%;
    margin: 3% auto;
    padding: 2%;
    border: 1px solid black;
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(167,167,167,1) 100%);
}

label{
    text-align: center;
    margin-bottom: 4%;
    font-size: 1.2rem;
    font-weight: bold;
}
select{
    width: 40%;
    margin-bottom: 4%;
}

button{
    width: 20%;
    margin-bottom: 4%;
}

#pintarO,#pintarU{
    width: 25%;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 20px;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(167,167,167,1) 100%);
}

#pintarO{
    padding: 2%;
}

img{
    width: 20px;
    height: 20px;
}

#pintarO p{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#pintarU p{
    text-align: center;
}
